@font-face {
  font-family: 'Hannari';
  src:asset-url('Hannari.otf');
}

body {
  font-family: "Hannari", "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #dfdfdf;
  &>.row {
    background-color: #ffffff;
  }
}

.flash {
  &.success {
    display: block;
    background-color: #2ECC71;
    margin: auto;
    padding: 0 10px;
    text-align: center;
    border-radius: 40px;
  }
}

.container {
  width: 100%;
}

body > .row > section.margin {
  margin-left: 2.5em;
}
