@font-face {
  font-family: 'Hannari';
  src:asset-url('Hannari.otf');
}

body {
  font-family: "Hannari", "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body section.landing h1 {
  font-size: 7em;
}

.large-avatar {
  height: 200px;
  width: 200px;
}
